<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Videograph Template">
    <meta name="keywords" content="Videograph, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web developer</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="header__nav__option">
                        <nav class="header__nav__menu mobile-menu">
                            <ul>
                                <li><a href="./index">Home</a></li>
                                <li><a href="./about">About</a></li>
                                <li class="active"><a href="./portfolio">Portfolio</a></li>
                                <li><a href="./services">Services</a></li>
                                
                                <li><a href="./contact">Contact</a></li>
                            </ul>
                        </nav>
                        <div class="header__nav__social">
                            <a href="https://www.facebook.com/toneien.ton.9"><i class="fa fa-facebook"></i></a>
                            
                            
                                <a href="https://www.instagram.com/saiham_09">  <i class="fa fa-instagram"></i></a>
                                <a href="mailto:saiham019@gmail.com">  <i class="fa fa-envelope" style="color:white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option spad set-bg" data-setbg="img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>My Project</h2>
                        <div class="breadcrumb__links">
                            <a href="./index">Home</a>
                            <span>My Project</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Portfolio Section Begin -->
    <section class="portfolio spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="portfolio__filter">
                        <li class="active" data-filter="*">All</li>
                        
                        
                    </ul>
                </div>
            </div>
            <div class="row portfolio__gallery">
                <div class="col-lg-4 col-md-6 col-sm-6 mix branding">
                    <div class="portfolio__item">
                        <div class="portfolio__item__video set-bg" data-setbg="img/1.jpeg">
                            <a href="https://drive.google.com/drive/folders/18W9HUfd51lvuD3GwbGCZ8d2PpJf1F45s" ><i class="fa fa-link" style="font-size:48px;color:blue"></i></a>
                        </div>
                        <div class="portfolio__item__text">
                            <h4>Evalution Form Design</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mix digital-marketing">
                    <div class="portfolio__item">
                        <div class="portfolio__item__video set-bg" data-setbg="img/3.jpg">
                            <a href="https://drive.google.com/drive/folders/1aXSNz5ol8doyIOQyR58S2h-TzTlQ7UEx" >
                                <i class="fa fa-link" style="font-size:48px;color:blue"></i></a>
                        </div>
                        <div class="portfolio__item__text">
                            <h4>Experienced seamless web development services, top-notch quality.</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 mix web">
                    <div class="portfolio__item">
                        <div class="portfolio__item__video set-bg" data-setbg="img/2.jpeg">
                            <a href="https://drive.google.com/drive/folders/1pFw5lUgqMfI0L4gWMe4Zr5FigTOKUq7H" ><i class="fa fa-link" style="font-size:48px;color:blue"></i></a>
                        </div>
                        <div class="portfolio__item__text">
                            <h4>Impressed with web development skills. Great communication and results.</h4>
                            
                        </div>
                    </div>
                </div>
     
                
                
            
               
              
            
    </section>
    <!-- Portfolio Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__logo">
                            <a href="#"><img src="img/logo.png" alt="" height="120px"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="footer__top__social">
                            <a href="https://www.facebook.com/toneien.ton.9"><i class="fa fa-facebook"></i></a>
                            
                            
                            <a href="https://www.instagram.com/saiham_09">  <i class="fa fa-instagram"></i></a>
                            <a href="mailto:saiham019@gmail.com">  <i class="fa fa-envelope" style="color:white"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__option">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__option__item">
                            <h5>About us</h5>
                            <p>Saiham Salim Ullah is a results-driven professional with over three years of leadership experience in team management, particularly in football. His skill development insights and performance record-keeping have been instrumental. Saiham's diverse background includes retail and ongoing pursuit of an Advanced Diploma in Software Engineering Technology. Fluent in Hindi, Bengali, and English, he is also a dedicated community volunteer, known for quick learning and strategic planning.</p>
                            <a href="./about" class="read__more">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    
                        
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <div class="footer__option__item">
                            <h5>Our work</h5>
                            <ul>
                                <li><a href="./portfolio">Front End</a></li>
                                <li><a href="./portfolio">Back end with mern stack</a></li>
                                <li><a href="./portfolio">Website distribution</a></li>
                                <li><a href="./portfolio">Website hosting</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="footer__option__item">
                            <h5>Newsletter</h5>
                            <p>Learn the art of creating websites that look stunning and function flawlessly across all devices. We'll provide you with practical tips and tricks to ensure your web projects are fully responsive.</p>
                            <form action="#">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p class="footer__copyright__text">Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved </a>
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>